.Pill {
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  color: #4ddbde;
  cursor: pointer;
  padding: 0.3rem;
  font-weight: bold;
  height: fit-content;
  margin: 0.4rem;
  min-width: 80px;
  text-align: center;
  
  .extras {
    height:auto;
    height: 0;
    transition: all 0.5s;
    overflow: hidden;

    &.isHovering {
      height: 2rem;
      text-align: center;
    }

    .experience {
      width: 100%;
      border: 1px solid #29b3b5;

      .progress {
        background-color: #29b3b5;
        color: #f0fff0;
        font-size: 0.7rem;
      }
    }
  }
}