.JobsTimeline {
  .description,
  .Technologies,
  .Contributions,
  .Applications {
    font-size: 0.9rem;
  }

  .Projects {
    font-size: 0.9rem;
    margin-top: 1em;

    .title {
      cursor: pointer;
      text-decoration: underline;

      .caret {
        display: inline-block;
        transition: all 0.2s ease-in;

        &.collapsed {
          transform: rotate(90deg);
        }
      }
    }

    ul {
      background-color: rgba(0, 0, 0, 0.1);
      height: 0;
      transition: all 0.2s ease-in-out;
      overflow: auto;
      list-style: none;

      &.collapsed {
        height: 140px;
      }
      li {
        padding: 0.6em 0.8em 0.45em 2.8em;
        position: relative;
        letter-spacing: -0.04em;
        line-height: 1.2;
        z-index: 9999;
        overflow: hidden;

        .name {
          font-weight: bold;
        }

        &::after {
          content: "";
          display: block;
          width: 13px;
          height: 13px;
          background: #f0fff0;
          position: absolute;
          left: 17px;
          top: 17px;
          transition: all 200ms ease;
          border-radius: 33% 67% 65% 35% / 46% 62% 38% 54%;
        }
      }
    }

    p {
      margin-top: auto;
      line-height: 1.2;
    }
  }
}
