.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .css-doodle {
    animation: custom-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}

a {
  color: #61dafb;
}

.linkedin-link {
  margin-top: 40px;
}

.typewritter-sentences {
  background-color: #1515158c;
  border-radius: 5px;
  box-sizing: border-box;
  left: 50%;
  margin: 40px 0;
  padding: 20px;
  position: absolute;
  transform: translateX(-50%);
  width: 80%;
  z-index: 999;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}

@keyframes custom-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
